@media ( min-width : 992px) {
	body {
		padding-top: 56px;
	}
}

html, body {
	height: 100%;
	min-height: 100%;

}

.wrapper {
	position: relative;
	min-height: 100%;
}

	

.footer {
	positon: absolute;
	bottom: 0px;

	
	
	   
}